$site-color-main: rgb(0, 152, 233);
$site-color-gray: #797878;
$site-font: 'Nunito', sans-serif;

@mixin buttons {
    height: 35px;
    width: 120px;
    font-size: 1em;
    font-family: $site-font;
    color: white;
    border-radius: 10px;
    border: none;
    margin: 0px 5px;
}

body {
    margin: 0px;
    font-family: $site-font;
}

.spacer-25 {
    height: 25px;
}

.header {
    width: 100vw;
    height: 100px;
    background-color: $site-color-main;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    &__title {
        margin: 0px;
        font-size: 2.5rem;
        padding: 0px 10px;
    }
}

.loading {
    color: $site-color-main;
}

.moment {
    margin-left: 4px;
}

.new-button {
    color: $site-color-main;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 25px;
    &__container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 460px;
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: $site-color-main;
        text-decoration: none;
    }
    &__text {
        margin: 0px;
        padding-left: 2px;
    }
}

.back-button {
    color: $site-color-main;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 25px;
    &__container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 460px;
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: $site-color-main;
        text-decoration: none;
    }
    &__text {
        margin: 0px;
        padding-left: 2px;
    }
}

.employee-list {
    height: auto;
    &__container {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &__title {
            text-align: center;
            margin: 0px;
            color: $site-color-gray;
            font-size: 1.7rem;
            padding: 10px 0px;
        }
    }
}

.employee-card {
    margin-top: 10px;
    height: 400px;
    width: 460px;
    border: 4px solid $site-color-main;
    border-radius: 25px;
}

.employee-field {
    height: 76px;
    color: $site-color-main;
    display: flex;
    align-items: center;
    justify-content: center;
    &__buttons {
        height: 76px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__h2 {
        padding-left: 10px;
    }
    &__time {
        color: $site-color-gray;
        display: flex;
        justify-content: center;
        height: 20px;
    }
}

.button {
    &__edit {
        @include buttons;
        background-color: $site-color-main;
    }
    &__delete {
        @include buttons;
        background-color: red;
    }
    &__edit:hover {
        cursor: pointer;
    }
    &__delete:hover {
        cursor: pointer;
    }
}

.input-field {
    height: 35px;
    width: 250px;
    margin-left: 10px;
    padding-left: 4px;
    border: 2px solid $site-color-main;
    border-radius: 10px;
    font-family: $site-font;
    color: $site-color-main;
    font-size: 1em;
    &:focus {
        outline: none;
    }
}

@media (max-width: 500px) {
    .employee-card {
        width: 90vw;
    }

    .employee-field {
        &__h2 {
            font-size: 1.2em;
        }
    }
}

@media (max-width: 320px) {
    .employee-field {
        &__h2 {
            font-size: 1em;
        }
    }
}